.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 90vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}
#T-hr {
  height: 106px;
  width: 3px;
  border: 2px solid white;
  background-color: white;
}
#B-hr {
  height: 99.8%;
  width: 3px;
  margin-top: 0;
  border: 2px black solid;
  background-color: black;
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 39.95vw;
  background-color: rgb(17, 114, 240);
  border-bottom: 3px solid black;
}
.H-text {
  margin-left: 15.5%;
  color: white;
}

.P-text {
  padding-right: 25px;
  color: white;
  margin-left: -36px;
}
.T-color {
  color: gold;
}
.Footer {
  display: flex;
  /* background-color: orange; */
}
.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.6vh;
  width: 23.8vw;
  /* background-color: chartreuse; */
}
.img-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 95px;
  width: 95px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.Right {
  height: 74.6vh;
  width: 16vw;
  /* background-color: blueviolet; */
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgb(255, 208, 0);
}
.off {
  color: rgb(136, 136, 136);
}
.star {
  font-size: 30px;
}